  <!DOCTYPE html>
<html>
  <head>
    <title>MatrUFSC2</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/icons.css" />
    <link rel="stylesheet" href="/css/vendor/foundation/foundation.css" />
    <link rel="stylesheet" href="/css/vendor/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="/css/vendor/select2/select2.css" />
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/reload-client.js"></script>
    <script src="/js/vendor/requirejs/require.js" data-main="/js/boot.js"></script>
  </body>
</html>