.home-page {
    margin-top: 30px;
}

.home-page table {
    width: 100%;
}

@media only screen and (min-width: 40.063em)  and (max-width: 90em) {
    .home-page table * {
        padding: 0;
    }

}

/* min-width 641px, medium screens */
#teams-table-container {
    padding-left: 0;
}

#teams-table-container table {
    border-collapse: collapse;
}

#teams-table-container td {
    border-left: 1px #ffffff solid;
    border-right: 1px #ffffff solid;
}

#disciplines-resume a, #teams-table-container a {
    color: #000;
}

#disciplines-resume tbody tr {
    cursor: pointer;
}

#filters .filter-input {
    margin-top: 5px;
    text-align: left;
}

#plans-container .button {
    border-right: 1px solid #FFFFFF;
    text-align: center;
    padding: 0;
}

#calendar tbody .hour-4 td, #calendar tbody .hour-9 td {
    border-bottom: 2px solid #000;
}

#discipline-field #results {
    z-index: 1000000;
    border: 1px dotted #ccc;
    position: absolute;
    max-width: 348px;
    max-height: 300px;
    height: auto;
    background: #ffffff;
    list-style: none;
    margin-top: -15px;
    margin-left: -2px;

    margin-right: -100px;
    padding-right: 100px;
}

/* Tiny Scrollbar */
#discipline-field #results .viewport {
    width: 348px;
    max-height: 300px;
    height: auto;
    overflow: hidden;
    position: relative;
}

#discipline-field #results .overview {
    list-style: none;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

#discipline-field #results .scrollbar {
    background: transparent url(/img/scrollbar/bg-scrollbar-track-y.png) no-repeat 0 0;
    position: absolute;
    background-position: 0 0;
    top: 0;
    right: 0;
    z-index: 2000000;
    width: 15px;
}

#discipline-field #results .track {
    background: transparent url(/img/scrollbar/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
    height: 100%;
    width: 13px;
    position: relative;
    padding: 0 1px;
}

#discipline-field #results .thumb {
    background: transparent url(/img/scrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
    height: 20px;
    width: 25px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -5px;
}

#discipline-field #results .thumb .end {
    background: transparent url(/img/scrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
    overflow: hidden;
    height: 5px;
    width: 25px;
}

#discipline-field #results .disable {
    display: none;
}

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#discipline-field #results ul li {
    padding: 5px 5px 5px 0;
    text-indent: 2px;
}

#discipline-field .selected-item {
    background: #3875d7;
    color: #ffffff;
}

#teams-table-container .f-dropdown li {
    opacity: 1;
}