.footer-block {
	margin-top: 30px;
	border-top: 1px dotted #ccc;
	padding-top: 5px;
}
#disciplines-resume table, #calendar table{
	width: 100%;
}
#teams-table-container {
	padding-left: 0;
}

#disciplines-resume a{
	color: #000;
}

#filters .filter-input {
	margin-top: 5px;
	text-align: left;
}

